asgiref==3.4.1
astroid==2.8.0
bpemb==0.3.3
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
coreapi==2.3.3
coreschema==0.0.4
Cython==0.29.14
Deprecated==1.2.12
Django==3.2.7
django-filter==21.1
django-model-utils==4.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
drf-yasg==1.20.0
flair==0.8.0.post1
ftfy==6.0.1
funcy==1.15
gdown==3.12.2
gensim==3.8.3
huggingface-hub==0.0.9
hyperopt==0.2.5
idna==3.2
importlib-metadata==3.10.1
inflection==0.5.1
isort==5.9.3
itypes==1.2.0
Janome==0.4.1
Jinja2==3.0.1
konoha==4.6.4
langdetect==1.0.9
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mpld3==0.3
overrides==3.1.0
packaging==21.0
pandas==1.2.4
Pillow==8.3.2
platformdirs==2.3.0
psycopg2==2.9.1
PyJWT==2.1.0
pyLDAvis==3.3.1
pylint==2.11.1
pylint-django==2.4.4
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytz==2021.1
requests==2.26.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
sacremoses==0.0.45
segtok==1.5.10
sentencepiece==0.1.95
sklearn==0.0
smart-open==5.0.0
sqlitedict==1.7.0
sqlparse==0.4.2
tabulate==0.8.9
tokenizers==0.10.2
toml==0.10.2
torch==1.7.1
transformers==4.6.1
typing-extensions==3.10.0.2
uritemplate==3.0.1
urllib3==1.26.6
wincertstore==0.2
wrapt==1.12.1
